* {
    letter-spacing: 0.6px;
    box-sizing: border-box;
    color: black;
    font-family: Raleway-Regular;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: black;
}

.App-header {
    text-align: center;
    font-family: Raleway-Regular;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #00642d;
}
