.loading {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 50px;
        width: 50px;
    }
}
