.inputs-form {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-container {
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.term-input,
.definition-input {
    width: 300px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
}
.term-input::placeholder,
.definition-input::placeholder {
    text-align: center;
}

.form-add-button {
    border: none;
    background-color: rgb(112, 235, 198);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 30px;
    margin-top: 40px;
}
.form-add-button:hover {
    cursor: pointer;
    background-color: rgb(37, 250, 186);
}
.form-add-button:hover {
    cursor: pointer;
    background-color: rgb(37, 250, 186);
}
