.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 25px;
    background-color: white;
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.58);
    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: rgb(15, 177, 189);
        transition: color 0.2s ease-in-out;
        animation: 0.5s slideIn forwards;
        .logo-bor {
            color: rgb(15, 177, 189);
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            text-transform: uppercase;
        }
        .logo-sood {
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0;
            text-transform: uppercase;
        }
        .logo-img {
            margin-right: 6px;
            height: 30px;
        }
    }
    .mobile {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .user-buttons {
        display: flex;
        font-size: 20px;
        flex-direction: column;
        .user-conected-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            .sign-out-button {
                font-size: 20px;
                color: rgb(15, 177, 189);
                transition: 0.3s;
                margin: 0 10px;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                cursor: pointer;
            }
            .sign-out-button:hover {
                color: rgb(2, 30, 32);
            }

            .nav-add-card:hover {
                color: rgb(2, 30, 32);
            }
            .img-profile {
                height: 30px;
                border-radius: 10%;
            }
        }

        .login-button {
            font-weight: bold;
            font-size: 20px;
            color: rgb(15, 177, 189);
            transition: 0.3s;
            margin: 0 10px;
            cursor: pointer;
        }
        .login-button:hover {
            color: rgb(2, 30, 32);
        }
    }
}

@media (min-width: 700px) {
    .nav-container {
        .container {
            display: none;
        }
        .user-buttons {
            flex-direction: row;
            align-items: center;
        }
    }
}
@media (max-width: 700px) {
    .nav-container {
        .mobile-mode {
            visibility: hidden;
        }
        .user-buttons {
            display: flex;
            padding-top: 80px;
            font-size: 40px;
            animation: 0.5s slideIn forwards;
            .hr-mobile {
                width: 80vw;
            }
            .SingInLinks-li {
                padding-bottom: 3 0px;
            }
            .user-conected-buttons {
                .sign-out-button {
                    font-size: 40px;
                }
            }
        }
        .container {
            opacity: 0;
            opacity: 0.9;
            display: flex;
            align-items: center;
            background: rgba(255, 255, 255, 0);
            color: white;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shrink {
    0% {
        width: 95%;
    }
    100% {
        width: 90%;
    }
}

.SingInLinks-li {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 177, 189);
    transition: 0.3s;
    .logo-bor {
        color: rgb(15, 177, 189);
        font-weight: bold;
        letter-spacing: 0;
        text-transform: uppercase;
    }
    .logo-sood {
        font-weight: normal;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    .logo-img {
        margin-right: 6px;
        height: 30px;
    }
}
.SingInLinks-li:hover {
    color: rgb(2, 30, 32);
}
